{% extends "base.html" %}
{% block content %}
        <div class="text-base uppercase font-medium text-blue-500">Публикация</div>
        <div mt-4>
            <h1 class="text-2xl font-bold">Lorem ipsum dolor sit amet.</h1>
            <div class="mt-1">
                Автор: <span class="font-semibold"> Пользователь </span> 24.06.2026 19:21
            </div>
            <p class="text-base text-zinc-500 mt-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim ad corporis totam esse, similique explicabo fugiat, ipsa, quaerat optio tempora omnis? Eum commodi minima rerum animi, molestiae et voluptatibus libero ullam, nesciunt quasi perferendis! Ipsa reprehenderit minima ullam maiores commodi iste non dolorum unde ea accusantium, doloribus inventore modi quibusdam optio at dolor, rerum voluptatibus nesciunt temporibus. Possimus, beatae reprehenderit!</p>
        </div>
        <div class="mt-4">
            <h2 class="text-lg font-semibold"> Комментарии</h2>
            <div class="text-sm bg-white rounded-lg py-2 px-4 my-2">
                <a href="" class="text-blue-500 hover:underline">Войдите</a>, чтобы оставить комментарий
            </div>
            <div>
                <p class="text-sm text-zinc-500">
                    <span class="font-semibold text-black"> Пользователь</span>
                    24.06.2026 19:21
                </p>
                <p class="text-xs "> Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos in fugit cupiditate dolor sequi repellendus minima consequuntur quia porro nam.</p>
            </div>
        </div>
{% endblock %}